%table{:class => "joblist"}
  %thead
    %colgroup
      %col{:width => '480px'}
      %col{:width => '75px'}
    %tr
      %th Function
      %th # of jobs
  %tbody
  - @job_types.each do |jt|
    %tr
      %td
        %a{:title => "#{jt.function_name}", :href => "/jobs/#{jt.function_name}"} #{jt.function_name}
      %td
        #{jt.count}
